* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("SmokeBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
  padding: 25px;
}

h1 {
  padding: 25px;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to left, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
}

h1:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.categories {
  margin-top: 12px;
  width: 400px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to left, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
}

.categories:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.generate {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#copy-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 10px;
}

#copy-button.copied::after {
  content: "Copied!";
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

#copy-button::after {
  content: "Copied!";
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#copy-button:hover::after {
  opacity: 1;
}

#output {
  background-image: linear-gradient(to left, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  max-width: 500px;
}

#output:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
        
.btn-grad {
  background-image: linear-gradient(to left, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
